<div class="container-fluid">
    <div class="card d-flex">
        <div class="card-header">
            <h3 class="card-title">ตรวจสอบใบแจ้งหนี้</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" id="dtInvFromDate" class="form-control" value="@DateTime.UtcNow.Date.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice</label>
                        <input type="text" id="txtInvoice" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group clearfix">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="r1" value="1" checked>
                            <label for="radioPrimary1">
                                ทั้งหมด
                            </label>
                        </div>
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary2" name="r1" value="2">
                            <label for="radioPrimary2">
                                รายการที่ผิด
                            </label>
                        </div>
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary3" name="r1" value="3">
                            <label for="radioPrimary3">
                                รายการที่ถูก
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="date" id="dtInvToDate" class="form-control" value="@DateTime.UtcNow.Date.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>OrderNo</label>
                        <input type="text" id="txtInvOrderNo" class="form-control">
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" onclick="ClearInvoice()">Clear</button>
            <button class="btn btn-primary" onclick="FindInvoice()">ค้นหา</button>
            <button class="btn btn-warning d-none" id="btnMarkInvoiceAsRead" onclick="MarkInvoiceAsRead()"><i class="fas fa-bookmark"></i> ทำเครื่องหมายว่าตรวจสอบแล้ว</button>
            <button class="btn btn-success d-none" id="btnFindConfirmedInvoice" onclick="FindConfirmedInvoice()"><i class="fas fa-check-double"></i> ตรวจสอบแล้ว</button>
        </div>
    </div>

    <div class="card d-flex">
        <div class="card-header">
            <h3 class="card-title">ตรวจสอบสถานะการเก็บ</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" id="dtLocFromDate" class="form-control" value="@DateTime.UtcNow.Date.ToString("yyyy-MM-dd")">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="date" id="dtLocToDate" class="form-control" value="@DateTime.UtcNow.Date.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>OrderNo</label>
                        <input type="text" id="txtLocOrderNo" class="form-control">
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" onclick="ClearLocInput()">Clear</button>
            <button class="btn btn-primary" onclick="FindUnalocateLot()">ค้นหา</button>
        </div>
    </div>
</div>

<div id="page-title" data-title="ตรวจสอบ"></div>